
/*.card{
    display:flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.cardImg img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
.techs{
    display:flex;
    flex-direction: row;
    gap: 15px;
    
.tech{
    padding: 10px;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: antiquewhite;
}
}*/