
main{
  width: auto;
  height: 100vh;
  margin: 0px,100px;
  padding: 0px, 100px; 
  display: flex;
  flex-direction: raw;
  background-color: red;
}
.side_left, .side_rigth{
  width: 50vw;
}
.side_left{
  
  background-color: aqua;
}
.side_rigth{
  background-color: bisque;
}
